body{
    margin:0;
    font-family: monospace,sans-serif;
font-size: 16px;
background-image: url('../../images/16908297230_5a8beda661_b.jpg');
background-size: cover;
}
.input-container {
    max-width: 300px;
    background-color: #EDEDED;
    /* border: 1px solid #DFDFDF; */
    /* border-radius: 20px/50px; */
    min-width: 82%;
    float: left;
}

input[type='file'] {
    display: none;
}

.file-info {
    font-size: 0.9em;
}

.browse-btn {
       /* background: #06D85F; */
    /* color: #fff; */
    min-height: 35px;
    padding: 10px;
    /* border: none; */
    /* border-radius: 20px/50px; */
}


@media (max-width: 300px) {
    button {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .file-info {
        display: block;
        margin: 10px 5px;
    }
}

input[type='file'] {
    display: none;
}

input[type='file'] {
    opacity: 0;
    position: absolute;
}


.table tr td:last-of-type{
width:15%
}

.download-icon{
    padding-left: 70px; /* Normal left padding plus space for icon */
    background: url('../../images/icons8-download-40.png') no-repeat left center;
}
.upload-icon{
    padding-left: 70px; /* Normal left padding plus space for icon */
    background: url('../../images/icons8-upload-40.png') no-repeat left center;
}
.pull-right{
    float: right;
}
.box{
    overflow: auto;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 50px #525252;
    margin-top: 10px;
}
.button{
    height: 42px;
    border-radius: 0
}
.myInput {
    background-image: url('../../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  .top{

    position: sticky;
    top: 7px;
    background-color: #21476f;
  }
  /* :not(#myModal){
      filter:blur(1px)
  } */

  body.modal-open .background-container{

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
     filter: blur(8px);
     transition: blur 2s;
 }
 .btn{
     border-radius:0px;
 }
 .toast{
     position: absolute;
     top:15px;
     right:15px;
     display: none;
 }



 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(224, 224, 224, 0.97)!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0px 20px 0px black;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .login-out{
    width: 450px;
    background: #bfbfbf;
    height: auto;
    margin: auto;
    padding: 2px;
    box-shadow: 0 5px 15px 2px black;
    margin-top: 2px;
  }
  .login-in{
    width: 100%;
height: 100%;
background-color: white;
padding: 10px;
  }
.form-control{
  border-radius: 0px;
}
.show{
  display: block !important;
}

.w-custom{
  width:87%
}
.cus-back-drop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background-color: rgba(99, 99, 99, 0.63);
    display: none;
}
#mySidenav{
  z-index: 9;
}
button{
min-width: 100px;
}
button:hover,input[type="submit"]:hover{
  box-shadow: 0 15px 10px 0px #9a9a9a;
}
#myInput{
  transition: box-shadow 200ms ease-in-out;
}
#myInput:focus{
  box-shadow: 0 0px 50px 10px #000;  
}
.scrollbar {
  background-color: #F5F5F5;
  height: 300px;
}
*::-webkit-scrollbar{
  width:5px;
}
*::-webkit-scrollbar{
  width:5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #21476f;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /* background-color: #21476f; */
}